tickTime=2000
dataDir={{zookeeper_data_dir}}
clientPort=2181
initLimit=5
syncLimit=2
{% for host in range(0, groups["zookeeper"]|length) %}
server.{{ host + 1 }}={{ groups["zookeeper"][host] }}:2888:3888
{% endfor %}
